.products_container {
    padding: 2rem;
    max-height: 90%;
    overflow: auto;
    margin-top: 10rem;
}

.add_product {
    position: absolute;
    bottom: 1rem;
    left: 0.9rem;
    z-index: 100;
}

.products_search {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 4rem;
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 100;
    padding: 0 2rem;
}

.products_search input {
    flex: 4;
}

.products_search button {
    flex: 1;
    max-width: 10rem;
    min-width: 10rem;
}

.products_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
}